<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bootsrap test</title>
	<link rel="stylesheet" href="./src/style/stile.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="container col-sm-6 col-sm-offset-3 col-xs-12 text-center" id="mainBlock">
	<h1>TodoList</h1>
	<div class="input-group">
		<input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Добавить</button>
      </span>
	</div>
	<br>
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<a href="#/all" role="button" class="btn btn-default">All</a>
		</div>
		<div class="btn-group">
			<a href="#/active" role="button" class="btn btn-default">Active</a>
		</div>
		<div class="btn-group">
			<a href="#/done" role="button" class="btn btn-default">Done</a>
		</div>
	</div>
	<br>
	<ul class="list-group">
		<li class="<%= status %> list-group-item">
			<input  type="checkbox" class="someJob" id="<%= id %>" <%= check %>>
			<label for="<%= id %>" class="<%= status %>" id="<%= id %>"> <%= title %> </label>
			<i class="fa fa-times imgMus" id="<%= status %>"></i>
		</li>
	</ul>
</div>
</body>
</html>