#time {
	background: #444;
}

body {
	background: #eef;
}

* {
	margin: 0;
	padding: 0;
}

#inputData {
	width: 400px;
	height: 60px;
	margin: auto;
	text-align: center;
	position: absolute;
	top:0;bottom:40px;left: 0;right: 0;
}

#inputData > *:focus {
	outline: none;
}

#dataLink {
	height: 40px;
	width: 250px;
	font-size: 20px;
	color: #666;
	text-align: center;
}

#addDown, #setTime {
	position: relative;
	right: 5px;
	top: -2px;
	height: 44px;
	width: 130px
}

#fotter {
	width: 100%;
	height: 50px;
	background: #333;
	position: absolute;
	bottom: 0;
}

/* <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./src/style/style.css">
	<title>DowloadTimeOut</title>
</head>
<body>
<div id='inputData'>
	<input type='text' placeholder='Вставьте адрес загрузки' id='dataLink'>
	<input type='button' value='Установить таймер' id='addDown'>
</div>
<div id='fotter'></div>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/underscore/underscore.js"></script>
<script src="./vendor/backbone/backbone.js"></script>
<script type="text/javascript" src="./src/script/storage.js"></script>
<script type="text/javascript" src="./src/script/model/model.js"></script>
<script type="text/javascript" src="./src/script/collection/collection.js"></script>
<script type="text/javascript" src="./src/script/view/view.js"></script>
<script type="text/javascript" src="./src/script/router/router.js"></script>
<script type="text/javascript" src="./src/script/app.js"></script>
</body>
</html> -->